<header class="usa-site-header" role="banner">
  <div class="usa-disclaimer">
    <div class="usa-grid">
      <span class="usa-disclaimer-official">
        <img
          class="usa-flag_icon"
          alt="US flag"
          src="<%= webpackAssets['/styles/webpackAssets/us_flag_small.png'] %>"
        />
        An official website of the United States Government
      </span>
    </div>
  </div>

  <nav class="usa-site-navbar">
    <div class="usa-grid">
      <div class="nav-elements">
        <div class="logo" id="logo">
          <a href="/" title="Home" aria-label="Home">Federalist logo</a>
        </div>
        <div class="navbar-links" id="navbar-links">
          <ul class="" id="nav-mobile">

            <% if (!isAuthenticated) { %>
              <li>
                <a href="https://federalist-docs.18f.gov" target="_blank" rel="noopener noreferrer">Documentation</a>
              </li>
              <li>
                <a href="https://github.com/18F/federalist/issues/new" target="_blank" rel="noopener noreferrer">Contact Us</a>
              </li>
              <li>
                <a href="/auth/github">Log in</a>
              </li>
            <% } else { %>
              <li>
                <a href="/sites"><%= username %></a>
              </li>
              <li>
                <a href="https://federalist-docs.18f.gov" target="_blank" rel="noopener noreferrer">Documentation</a>
              </li>
              <li>
                <a href="https://github.com/18F/federalist/issues/new" target="_blank" rel="noopener noreferrer">File Issue</a>
              </li>
              <li>
                <a href="mailto:federalist-support@gsa.gov">Get Help</a>
              </li>
              <li>
                <a href="/logout">Log out</a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>